body {
    font-family: 'PT Mono', sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

.me, span {
    cursor: pointer;
}

.item{
    margin: 2em 1em;
}

.cat {
    border-left: 1px solid black;
    border-right: 1px solid black;
}


.hi {
    margin-top: 1em;
    margin-bottom: 2em;
}

.footer {
    margin-top: 2em;
    margin-bottom: 0;
}


.slash {
    padding: 0;
}

.select {
    color: #ff4e35;
}

.current {
    color: #000480;
}

.only {
    margin-top: 10em;
    margin-bottom: 10em;
}

